Package: com.colindavidr.amazondark
Name: AmazonDark
Version: 5.461.0
Architecture: iphoneos-arm64
Description: Dark mode for the Amazon app on rootless iOS 15+.
Maintainer: Colin Rioux
Author: Colin Rioux
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Conflicts: com.yourname.amazondark
Replaces: com.yourname.amazondark
Icon: https://raw.githubusercontent.com/colindavidr/Amazon-Dark/main/prefs/Resources/icon%403x.png
Homepage: https://github.com/colindavidr/Amazon-Dark
